{% extends "shop/base.html" %}  <!-- Если у вас есть базовый шаблон -->

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<div class="container">
    <h1>Политика конфиденциальности</h1>
    <p>Настоящая Политика конфиденциальности регулирует порядок сбора,
       хранения и использования персональных данных пользователей сайта NEBOLEY (далее — «Сайт»).
       Используя Сайт, вы соглашаетесь с условиями этой Политики.</p>

<p>Эта Политика конфиденциальности описывает Наши политики и процедуры по сбору, использованию и раскрытию Вашей информации
   при использовании Вами Сервиса, а также рассказывает Вам о Ваших правах на конфиденциальность и о том, как закон защищает Вас.</p>
<p>Мы используем Ваши Персональные данные для предоставления и улучшения Сервиса. Используя Сервис, Вы соглашаетесь на сбор и использование
   информации в соответствии с настоящей Политикой конфиденциальности.</p>
<h2>Толкование и определения</h2>
<h3>Толкование</h3>
<p>Слова, первая буква которых написана с заглавной буквы, имеют значения, определенные при следующих условиях.
   Следующие определения имеют одинаковое значение независимо от того, указаны ли они в единственном или множественном числе.</p>
<h3>Определения</h3>
<p>Для целей настоящей Политики конфиденциальности:</p>
<ul>
<li>
<p><strong>Учетная запись</strong> означает уникальную учетную запись, созданную для Вас для доступа к нашему Сервису или частям нашего Сервиса.</p>
</li>
<li>
<p><strong>Аффилированное лицо</strong> означает организацию, которая контролирует, контролируется или находится под общим контролем со стороной,
    где «контроль» означает владение 50% или более акций, долей участия или других ценных бумаг, дающих право голоса на выборах директоров или других
    управляющих органов.</p>
</li>
<li>
<p><strong>Компания</strong> (именуемая в настоящем Соглашении «Компания», «Мы», «Нас» или «Наш») относится к NEBOLEY, Ростов-на-Дону.</p>
</li>
<li>
<p><strong>Файлы cookie</strong> — это небольшие файлы, которые размещаются на Вашем компьютере, мобильном устройстве или любом другом устройстве
    веб-сайтом, содержащими сведения о Вашей истории просмотров на этом веб-сайте среди его многочисленных применений.</p>
</li>
<li>
<p><strong>Страна</strong> относится к: Российская Федерация</p>
</li>
<li>
<p><strong>Устройство</strong> означает любое устройство, которое может получить доступ к Сервису, например компьютер, мобильный телефон или цифровое планшет.</p>
</li>
<li>
<p><strong>Персональные данные</strong> — это любая информация, которая относится к идентифицированному или идентифицируемому лицу.</p>
</li>
<li>
<p><strong>Услуга</strong> относится к Веб-сайту.</p>
</li>
<li>
<p><strong>Поставщик услуг</strong> означает любое физическое или юридическое лицо, которое обрабатывает данные от имени Компании.
    Он относится к сторонним компаниям или лицам, нанятым Компанией для содействия Услуге, предоставления Услуги от имени Компании,
    выполнения услуг, связанных с Услугой, или оказания помощи Компании в анализе того, как используется Услуга.</p>
</li>
<li>
<p><strong>Сторонняя Служба Социальных Медиа</strong> относится к любому веб-сайту или любому веб-сайту социальной сети, через который
    Пользователь может войти в систему или создать учетную запись для использования Услуги.</p>
</li>
<li>
<p><strong>Данные об использовании</strong> относятся к данным, собираемым автоматически, либо генерируемым при использовании Услуги,
    либо из самой инфраструктуры Услуги (например, продолжительность посещения страницы).</p>
</li>
<li>
<p><strong>Веб-сайт</strong> относится к NEBOLEY</p>
</li>
<li>
<p><strong>Вы</strong> означает лицо, получающее доступ к Услуге или использующее ее, или компанию или другое юридическое лицо,
    от имени которого такое лицо получает доступ к Услуге или использует ее, в зависимости от обстоятельств.</p>
</li>
</ul>
<h2>Сбор и использование ваших персональных данных</h2>
<h3>Типы собираемых данных</h3>
<h4>Персональные данные</h4>
<p>При использовании Нашего Сервиса Мы можем попросить Вас предоставить Нам определенную персональную информацию,
    которая может быть использована для связи с Вами или Вашей идентификации. Персонально идентифицируемая информация может включать, помимо прочего:</p>
<ul>
<li>
<p>Адрес электронной почты</p>
</li>
<li>
<p>Имя и фамилия</p>
</li>
<li>
<p>Номер телефона</p>
</li>
<li>
<p>Адрес, почтовый индекс, город</p>
</li>
<li>
<p>Данные об использовании</p>
</li>
</ul>
<h4>Данные об использовании</h4>
<p>Данные об использовании собираются автоматически при использовании Сервиса.</p>
<p>Данные об использовании могут включать такую ​​информацию, как IP-адрес вашего устройства (например, IP-адрес), тип браузера, версия браузера,
   страницы нашего Сервиса, которые вы посещаете, время и дата вашего посещения, время, проведенное на этих страницах, уникальные идентификаторы устройств
   и другие диагностические данные.</p>
<p>Когда Вы получаете доступ к Сервису с помощью мобильного устройства или через него. Мы можем автоматически собирать определенную информацию,
   включая, помимо прочего, тип используемого вами мобильного устройства, уникальный идентификатор вашего мобильного устройства,
   IP-адрес вашего мобильного устройства, вашу мобильную операционную систему, тип используемого вами мобильного интернет-браузера,
   уникальные идентификаторы устройств и другие диагностические данные.</p>
<p>Мы также можем собирать информацию, которую отправляет ваш браузер, когда вы посещаете наш Сервис или когда вы получаете доступ к Сервису
   с помощью мобильного устройства или через него.</p>
<h4>Информация из сторонних социальных сетей</h4>
<p>Вам необходимо создать учетную запись и войти в нее, чтобы использовать Сервис через следующие сторонние службы социальных сетей:</p>
<ul>
<li>Google</li>
<li>Telegram</li>
<li>WhatsApp</li>
</ul>
<p>Если Вы решите зарегистрироваться через или иным образом предоставить нам доступ к сторонней службе социальных сетей,
   мы можем собирать Персональные данные, которые уже связаны с Вашей учетной записью сторонней службы социальных сетей,
   такие как Ваше имя, Ваш адрес электронной почты, Ваши действия или Ваш список контактов, связанный с этой учетной записью.</p>
<p>Вы также можете предоставить Компании дополнительную информацию через учетную запись вашей сторонней службы социальных сетей.
   Если вы решите предоставить такую ​​информацию и Персональные данные во время регистрации или иным образом, вы даете Компании
   разрешение использовать, передавать и хранить их в соответствии с настоящей Политикой конфиденциальности.</p>
<h4>Технологии отслеживания и файлы cookie</h4>
<p>Мы используем файлы cookie и аналогичные технологии отслеживания для отслеживания активности на нашем сервисе и хранения
   определенной информации. Используемые технологии отслеживания — это маяки, теги и скрипты для сбора и отслеживания информации,
   а также для улучшения и анализа нашего сервиса. Технологии, которые мы используем, могут включать:</p>
<ul>
<li><strong>Файлы cookie или файлы cookie браузера.</strong> Файл cookie — это небольшой файл, размещенный на вашем устройстве.
    Вы можете указать своему браузеру отклонять все файлы cookie или сообщать об отправке файла cookie. Однако, если вы не принимаете
    файлы cookie, вы не сможете использовать некоторые части нашего сервиса. Если вы не настроили свой браузер так, чтобы он отклонял
    файлы cookie, наш Сервис может использовать файлы cookie.</li>
<li><strong>Веб-маяки.</strong> Некоторые разделы нашего Сервиса и наши электронные письма могут содержать небольшие электронные файлы,
    известные как веб-маяки (также называемые прозрачными gif-файлами, пиксельными тегами и однопиксельными gif-файлами),
    которые позволяют Компании, например, подсчитывать пользователей, посетивших эти страницы или открывших электронное письмо,
    а также для другой связанной статистики веб-сайта (например, для регистрации популярности определенного раздела и проверки целостности системы и сервера).</li>
</ul>
<p>Файлы cookie могут быть «постоянными» или «сеансовыми». Постоянные файлы cookie остаются на вашем персональном компьютере или мобильном устройстве,
   когда вы переходите в автономный режим, в то время как сеансовые файлы cookie удаляются, как только вы закрываете свой веб-браузер.
   Подробнее о файлах cookie можно узнать в статье <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">веб-сайта TermsFeed</a>.</p>
<p>Мы используем как сеансовые, так и постоянные файлы cookie для целей, изложенных ниже:</p>
<ul>
<li>
<p><strong>Необходимые / основные файлы cookie</strong></p>
<p>Тип: сеансовые файлы cookie</p>
<p>Администрирование: нами</p>
<p>Цель: эти файлы cookie необходимы для предоставления вам услуг, доступных через веб-сайт, и для использования вами некоторых его функций.
   Они помогают аутентифицировать пользователей и предотвращать мошенническое использование учетных записей пользователей.
   Без этих файлов cookie запрошенные вами услуги не могут быть предоставлены, и мы используем эти файлы cookie только для предоставления вам этих услуг.</p>
</li>
<li>
<p><strong>Политика использования файлов cookie / Файлы cookie с уведомлением о принятии</strong></p>
<p>Тип: Постоянные файлы cookie</p>
<p>Администрирование: нами</p>
<p>Цель: Эти файлы cookie определяют, приняли ли пользователи использование файлов cookie на веб-сайте.</p>
</li>
<li>
<p><strong>Функции файлов cookie</strong></p>
<p>Тип: Постоянные файлы cookie</p>
<p>Администрирование: нами</p>
<p>Цель: Эти файлы cookie позволяют нам запоминать выбор, который вы делаете при использовании веб-сайта, например,
   запоминать ваши данные для входа или языковые предпочтения. Цель этих файлов cookie — предоставить Вам более персонализированный
   опыт и избежать необходимости повторно вводить свои предпочтения каждый раз при использовании Веб-сайта.</p>
</li>
</ul>
<p>Для получения дополнительной информации о файлах cookie, которые мы используем, и о вашем выборе в отношении файлов cookie,
   пожалуйста, посетите нашу Политику использования файлов cookie или раздел «Файлы cookie» нашей Политики конфиденциальности.</p>
<h3>Использование Ваших персональных данных</h3>
<p>Компания может использовать Персональные данные в следующих целях:</p>
<ul>
<li>
<p><strong>Для предоставления и поддержки нашего Сервиса</strong>, включая мониторинг использования нашего Сервиса.</p>
</li>
<li>
<p><strong>Для управления Вашей учетной записью:</strong> для управления Вашей регистрацией в качестве пользователя Сервиса.
    Персональные данные, которые вы предоставляете, могут предоставить вам доступ к различным функциям Сервиса,
    которые доступны вам как зарегистрированному пользователю.</p>
</li>
<li>
<p><strong>Для исполнения контракта:</strong> разработка, соблюдение и заключение контракта на покупку продуктов,
    товаров или услуг, которые вы приобрели, или любого другого контракта с нами через Сервис.</p>
</li>
<li>
<p><strong>Для связи с вами:</strong> Для связи с вами по электронной почте, по телефону, через SMS или другие эквивалентные формы электронной связи,
    такие как push-уведомления мобильного приложения относительно обновлений или информационных сообщений, связанных с функциями,
    продуктами или контрактными услугами, включая обновления безопасности, когда это необходимо или разумно для их реализации.</p>
</li>
<li>
<p><strong>Чтобы предоставить Вам</strong> новости, специальные предложения и общую информацию о других товарах, услугах и мероприятиях,
    которые мы предлагаем, которые похожи на те, которые Вы уже приобрели или о которых спрашивали, если Вы не отказались от получения такой информации.</p>
</li>
<li>
<p><strong>Для управления Вашими запросами:</strong> Чтобы посещать и управлять Вашими запросами к Нам.</p>
</li>
<li>
<p><strong>Для передачи бизнеса:</strong> Мы можем использовать Вашу информацию для оценки или проведения слияния, отделения, реструктуризации,
    реорганизации, роспуска или другой продажи или передачи некоторых или всех Наших активов, будь то в качестве действующего предприятия
    или в рамках банкротства, ликвидации или аналогичной процедуры, в которой Персональные данные, хранящиеся у Нас о наших пользователях Сервиса,
    входят в число передаваемых активов.</p>
</li>
<li>
<p><strong>Для других целей</strong>: Мы можем использовать Вашу информацию для других целей, таких как анализ данных, выявление тенденций использования,
    определение эффективности наших рекламных кампаний, а также для оценки и улучшения наших Услуг, продуктов, услуг, маркетинга и вашего опыта.</p>
</li>
</ul>
<p>Мы можем передавать Ваши персональные данные в следующих ситуациях:</p>
<ul>
<li><strong>Поставщикам услуг:</strong> Мы можем передавать Ваши персональные данные Поставщикам услуг для мониторинга и анализа использования наших Услуг,
    для связи с Вами.</li>
<li><strong>Для передачи бизнеса:</strong> Мы можем передавать Ваши персональные данные в связи с любым слиянием, продажей активов Компании,
    финансированием или приобретением всего или части Нашего бизнеса другой компанией или во время переговоров.</li>
<li><strong>Аффилированным лицам:</strong> Мы можем передавать Ваши данные Нашим аффилированным лицам, и в этом случае мы потребуем от этих аффилированных
    лиц соблюдать настоящую Политику конфиденциальности. Аффилированные лица включают Нашу материнскую компанию и любые другие дочерние компании,
    партнеров по совместному предприятию или другие компании, которые Мы контролируем или которые находятся под общим контролем с Нами.</li>
<li><strong>С деловыми партнерами:</strong> Мы можем делиться Вашей информацией с Нашими деловыми партнерами, чтобы предлагать Вам определенные продукты,
    услуги или акции.</li>
<li><strong>С другими пользователями:</strong> когда Вы делитесь личной информацией или иным образом взаимодействуете в общественных местах с другими пользователями,
    такая информация может просматриваться всеми пользователями и может быть публично распространена за их пределами. Если Вы взаимодействуете с другими пользователями
    или регистрируетесь через Стороннюю службу социальных сетей, Ваши контакты в Сторонней службе социальных сетей могут видеть Ваше имя, профиль,
    фотографии и описание Вашей деятельности. Аналогичным образом, другие пользователи смогут просматривать описания Ваших действий,
    общаться с Вами и просматривать Ваш профиль.</li>
<li><strong>С Вашего согласия</strong>: Мы можем раскрывать Вашу личную информацию для любых других целей с Вашего согласия.</li>
</ul>
<h3>Хранение Ваших персональных данных</h3>
<p>Компания будет хранить Ваши персональные данные только в течение того времени, которое необходимо для целей, изложенных в настоящей Политике конфиденциальности.
    Мы будем хранить и использовать Ваши персональные данные в объеме, необходимом для соблюдения наших юридических обязательств
    (например, если мы обязаны хранить ваши данные для соблюдения применимых законов), разрешения споров и обеспечения соблюдения наших юридических соглашений и политик.</p>
<p>Компания также будет хранить Данные об использовании для целей внутреннего анализа. Данные об использовании обычно хранятся в течение более короткого периода времени,
    за исключением случаев, когда эти данные используются для усиления безопасности или улучшения функциональности Нашего Сервиса,
    или когда Мы юридически обязаны хранить эти данные в течение более длительного периода времени.</p>
<h3>Передача Ваших Персональных данных</h3>
<p>Ваша информация, включая Персональные данные, обрабатывается в операционных офисах Компании и в любых других местах, где находятся стороны, участвующие в обработке.
   Это означает, что эта информация может передаваться и храниться на компьютерах, расположенных за пределами вашего города, страны,
   где законы о защите данных могут отличаться от законов вашей юрисдикции.</p>
<p>Ваше согласие с настоящей Политикой конфиденциальности, сопровождаемое предоставлением вами такой информации, означает ваше согласие на такую ​​передачу.</p>
<p>Компания предпримет все разумно необходимые шаги для обеспечения безопасного обращения с вашими данными в соответствии с настоящей Политикой конфиденциальности,
   и никакая передача ваших персональных данных не будет осуществляться в организацию или страну, если не будут приняты адекватные меры контроля,
   включая безопасность ваших данных и другой личной информации.</p>
<h3>Удаление ваших персональных данных</h3>
<p>Вы имеете право удалить или запросить, чтобы мы помогли удалить персональные данные, которые мы собрали о вас.</p>
<p>Наш Сервис может предоставить вам возможность удалить определенную информацию о вас из Сервиса.</p>
<p>Вы можете обновить, изменить или удалить свою информацию в любое время, войдя в свою учетную запись, если она у вас есть, и посетив раздел настроек учетной записи,
   который позволяет вам управлять вашей личной информацией. Вы также можете связаться с нами, чтобы запросить доступ, исправить или удалить любую личную информацию,
   которую вы нам предоставили.</p>
<p>Однако обратите внимание, что нам может потребоваться сохранить определенную информацию, когда у нас есть юридическое обязательство или законное основание для этого.</p>
<h3>Раскрытие ваших персональных данных</h3>
<h4>Бизнес-транзакции</h4>
<p>Если компания участвует в слиянии, поглощении или продаже активов, ваши персональные данные могут быть переданы. Мы предоставим уведомление до того,
   как Ваши персональные данные будут переданы и станут предметом другой Политики конфиденциальности.</p>
<h4>Правоохранительные органы</h4>
<p>При определенных обстоятельствах Компания может быть обязана раскрыть Ваши персональные данные, если это требуется по закону или в ответ на обоснованные
   запросы государственных органов (например, суда или государственного учреждения).</p>
<h4>Другие юридические требования</h4>
<p>Компания может раскрыть Ваши персональные данные, добросовестно полагая, что такое действие необходимо для:</p>
<ul>
<li>Соблюдения юридического обязательства</li>
<li>Защиты и отстаивания прав или собственности Компании</li>
<li>Предотвращения или расследования возможных правонарушений, связанных с Сервисом</li>
<li>Защиты личной безопасности Пользователей Сервиса или общественности</li>
<li>Защиты от юридической ответственности</li>
</ul>
<h3>Безопасность Ваших персональных данных</h3>
<p>Безопасность Ваших персональных данных важно для Нас, но помните, что ни один метод передачи через Интернет или метод электронного хранения не является на 100%
    безопасным. Хотя Мы стремимся использовать коммерчески приемлемые средства для защиты Ваших Персональных данных, Мы не можем гарантировать их абсолютную безопасность.</p>
<h2>Конфиденциальность детей</h2>
<p>Наш Сервис не предназначен для лиц младше 13 лет. Мы сознательно не собираем личную информацию от лиц младше 13 лет. Если Вы являетесь родителем или опекуном
   и Вам известно, что Ваш ребенок предоставил Нам Персональные данные, свяжитесь с Нами. Если нам станет известно, что мы собрали персональные данные от
   кого-либо младше 13 лет без подтверждения согласия родителей, мы предпримем шаги для удаления этой информации с наших серверов.</p>
<p>Если нам необходимо полагаться на согласие в качестве законного основания для обработки вашей информации, а ваша страна требует согласия родителя,
   мы можем потребовать согласия вашего родителя, прежде чем собирать и использовать эту информацию.</p>
<h2>Ссылки на другие веб-сайты</h2>
<p>Наш Сервис может содержать ссылки на другие веб-сайты, которые не управляются нами. Если вы нажмете на ссылку третьей стороны, вы будете перенаправлены
   на сайт этой третьей стороны. Мы настоятельно рекомендуем вам ознакомиться с Политикой конфиденциальности каждого сайта, который вы посещаете.</p>
<p>Мы не контролируем и не несем ответственности за содержание, политику конфиденциальности или практику любых сторонних сайтов или служб.</p>
<h2>Изменения в настоящей Политике конфиденциальности</h2>
<p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы уведомим Вас о любых изменениях, разместив новую Политику конфиденциальности на этой странице.</p>
<p>Мы сообщим Вам об этом по электронной почте и/или с помощью заметного уведомления в Нашем Сервисе до того, как изменения вступят в силу, и обновим дату
   «Последнего обновления» в верхней части настоящей Политики конфиденциальности.</p>
<p>Вам рекомендуется периодически просматривать настоящую Политику конфиденциальности на предмет любых изменений.
   Изменения в настоящей Политике конфиденциальности вступают в силу с момента их публикации на этой странице.</p>
<p>Изменения в Политике:
«Мы оставляем за собой право обновлять Политику. Актуальная версия всегда доступна на этой странице.»   </p>
<h2>Связаться с нами</h2>
<p>Если у вас есть вопросы по настоящей Политике конфиденциальности, вы можете связаться с нами:</p>
<ul>
<li>
<p>По электронной почте: neboleyy@yandex.ru</p>
</li>
<li>
<p>Посетив эту страницу на нашем веб-сайте: </p>
</li>
<li>
<p>По телефону: +7 993 450 91 31</p>
</li>

</ul>
</div>
{% endblock %}