{% extends "shop/base.html" %}  <!-- Если у вас есть базовый шаблон -->

{% block title %}Условия использования{% endblock %}

{% block content %}
<div class="container">
    <h1>Условия использования</h1>
    <p>Настоящие Условия использования (далее — "Условия") регулируют порядок работы с сайтом NEBOLEY.
        Используя Сайт, вы подтверждаете, что ознакомились и согласны с этими Условиями.</p>
    <p>Для оформления заказа вам должно быть не менее 18 лет. Оплата товара подтверждает ваше согласие с его описанием и ценой.
       Возврат возможен в течение 14 дней с момента получения.</p>
    <p>Все материалы Сайта (контент, дизайн, программный код) являются собственностью NEBOLEY.
       Любое копирование или использование без письменного согласия запрещено.</p>
    <p>Администрация Сайта не несет ответственности за временные технические сбои.
       Мы оставляем за собой право исправлять ошибки в описании товаров и ценах.</p>
    <p>Запрещается: размещать незаконный контент, использовать автоматические скрипты,
       нарушать работу Сайта. Нарушители будут заблокированы.</p>
    <p>Мы можем изменять Условия. Новая версия вступает в силу с момента публикации на Сайте.
       Продолжая использование, вы соглашаетесь с изменениями.</p>
    <p>По всем вопросам обращайтесь: [email/телефон]. Споры решаются в соответствии с законодательством
       Российской Федерации в суде по месту нашей регистрации.</p>

</div>
{% endblock %}